.CoverArt {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 300px;
  margin: 0 50px 0 0;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* Script will set background-image. */
}
