{{#if encodedFilename}}
<audio src="{{encodedFilename}}">
  Your browser does not support HTML5 audio!
</audio>
{{/if}}
<div id="control-buttons">
  <button id="btn-play-pause" type="button">
    {{#if isPlaying}}
    Pause
    {{else}}
    Play
    {{/if}}</button>
  <button id="btn-prev" type="button">Previous Track</button>
  <button id="btn-next" type="button">Next Track</button>
</div>
{{! progress indicator / seek bar should go here }}
