* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

#app-container {
  background-color: #ccc;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  height: 100%;
  justify-content: space-around;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
  flex: 0 1 1200px;
}

a {
  color: inherit;
  text-decoration: none;
}

.UIBar {
  height: 36px;
  background: #383c48;
  color: #eeefee;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.MainContentContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
}

.CoverArt {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 300px;
  margin: 0 50px 0 0;
  background-position: right center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* Script will set background-image. */
}

.PlaylistArea {
  flex-basis: 300px;
  flex-grow: 1;
  margin: 0;
}

.PlaylistItems {
  list-style-type: none;
  padding-left: 16px;
  position: relative;  /* So we can position the play arrow and X. */
}

.PlaylistItem {
  font-size: 13px;
  padding-right: 15px;  /* Leaves room for PlaylistItemRemoveLink */
}

.PlaylistItemPlayingIndicator {
  position: absolute;
  left: 0;
}

.PlaylistItemRemoveLink {
  position: absolute;
  right: 3px;  /* Playlist's right padding provides room for this */
  color: #222;
  visibility: hidden;
}

.PlaylistItem:hover .PlaylistItemRemoveLink {
  visibility: visible;
}

.NavButton {
  margin-right: 15px;
}

.NavButtonDisabled {
  color: #aaa;
}

.Nav {
  font-size: 20px;
}

.SearchBox {
  margin-left: 10px;
  position: relative; /* Need this so dropdown can position itself. */
}

.SearchBoxInput {
  width: 250px;
}

.SearchResultsDropdown {
  position: absolute;
  z-index: 1;
  top: 22px;
  right: 0;
  width: 248px;  /* Matching SearchBoxInput, minus margin */
  margin: 0 1px 0 1px;
  padding-left: 4px;

  background-color: #f0f0f0;
  border: 1px solid #808080;
  color: #222;

  -webkit-box-shadow: 10px 10px 20px 0px rgba(128,128,128,1);
  -moz-box-shadow: 10px 10px 20px 0px rgba(128,128,128,1);
  box-shadow: 10px 10px 20px 0px rgba(128,128,128,1);

  list-style-type: none;
  font-size: 13px;
  cursor: default;

  /* ugh, this really isn't standardized yet? */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.SearchResultItemLink {
  color: inherit;
  text-decoration: inherit;
}

.SearchResultItem_Spinner {
  float: right;
  width: 16px;
  height: 16px;
}

.SearchResultsDropdown .react-spinner {
  width: 16px;
  height: 16px;
}

.SearchResultsDropdown .react-spinner_bar {
  background-color: #2d2d2d;
}

.SearchResultsDropdown_Spinner {
  height: 20px;
}
