/* Global styles only. See script/components/*.css for the rest */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

#app-container {
  background-color: #ccc;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  height: 100%;
  justify-content: space-around;
}

#app {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
  flex: 0 1 1200px;
}

a {
  color: inherit;
  text-decoration: none;
}
