<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Pots, fyi</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/style.css"
          type="text/css" media="screen, projection">
    <script type="text/javascript" src="static/bundle.js"></script>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script type="text/javascript">{{ auth_script|safe }}</script>
  </head>
  <body>
    <div id="selections-window">
      <div id="search-card">
        <input type="text" name="search-query" id="search-box" value=""
               placeholder="Search for music">
        <ul id="search-results">
          <!-- script content goes here -->
        </ul>
      </div>
    </div>

    <div id="playlist-window">
      <ul id="playlist">
        <!-- script content goes here -->
      </ul>
    </div>

    <div id="player">
      <!-- Audio element rendered here-->
    </div>
    <!-- XXX: This button is really ugly and in the way. -->
    <button id="browserid-logout">Logout</button>
  </body>
</html>
