<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Pots, fyi</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="static/css/style.css"
          type="text/css" media="screen, projection">
    <script data-main="static/js/app.js"
            src="static/js/lib/require.js"></script>
  </head>
  <body>
    <div id="selections-window">
      <div id="search-card">
        <input type="text" name="search-query" id="search-box" value="">
        <ul id="search-results">
          <!-- script content goes here -->
        </ul>
      </div>
    </div>

    <div id="playlist-window">
      <ul id="playlist">
        <!-- script content goes here -->
      </ul>
    </div>

    <div id="player">
      <!-- Audio element rendered here-->
    </div>

    <div id="controls">
      <div id="control-buttons">
        <button id="btn-play-pause" type="button">Play</button>
        <button id="btn-prev" type="button">Previous Track</button>
        <button id="btn-next" type="button">Next Track</button>
      </div>
      <!-- progress indicator / seek bar should go here -->
    </div>
  </body>
</html>
