<!DOCTYPE html> 
<html>
  <head><meta charset="utf8">
    <title>HTML5 Audio test</title>
  </head>
<body>
<audio id="demo" src="{{ track_url }}"></audio>
<div>
  <button onclick="document.getElementById('demo').play()">Play the Audio</button>
  <button onclick="document.getElementById('demo').pause()">Pause the Audio</button>
  <button onclick="document.getElementById('demo').volume+=0.1">Increase Volume</button>
  <button onclick="document.getElementById('demo').volume-=0.1">Decrease Volume</button>
</div>
</body>
</html>
